.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
  @media screen and (min-width: 767px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients-list__link {
  @extend %flex-center;
  @include size(100%, 92px);
  border: 1px solid $secondary-brand-color;
  border-radius: 4px;
  color: $secondary-brand-color;
  transition-property: color, border;
  @include main-animation();
  &:hover,
  &:focus {
    border: 1px solid $main-brand-color;
    color: $main-brand-color;
  }
}

.clients-list__icon {
  fill: currentColor;
}
