.features-list__item {
  width: 100%;
  display: inline-block;
}

.features-list__icon-field {
  display: flex;
  padding: 25px 0;
  background-color: $secondary-background-color;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list__item-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list__item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $third-text-color;
  margin-bottom: 30px;
}
