.header {
  border-bottom: 1px solid $secondary-border-color;
}

.header__content {
  display: flex;
  align-items: center;
  position: relative;
}

.header__menu {
	width: inherit;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
