.nav {
  @media screen and (min-width: 768px) {
    margin-left: 88px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  
  @include main-animation();
  &:hover,
  &:focus {
    color: $main-brand-color;
  }
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 768px) {
    padding: 32px 0;
  }
}

.nav__link--current {
  position: relative;
  color: $main-brand-color;
  &::after {
    content: '';
    position: absolute;
    @include size(100%, 4px);
    left: 0;
    bottom: -1px;
    background-color: $main-brand-color;
    border-radius: 2px;
  }
  @media screen and (max-width: 767px) {
    &::after {
      display: none;
    }
  }
}
